{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class='container shows-container'>
  <div class='row'>
    <div class='col-md-12 col-sm-3'>
      <h1 class='show-dates'> January Shows </h1>
      <h3 class='show-dates'> Jan 7th </h3>

  <div class="cont">
    <div class="card col-md-4 col-sm-3">
      <img class="card-img-top" src='{% static "images/comedian1.jpg" %}' alt="Card image cap">
      <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    </div>
    <div class="card col-md-4 col-sm-3">
      <img class="card-img-top" src='{% static "images/comedian1.jpg" %}' alt="Card image cap">
      <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
    <div class="card col-md-4 col-sm-3">
      <img class="card-img-top" src='{% static "images/comedian1.jpg" %}' alt="Card image cap">
      <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}
