{% extends 'base.html' %}
{% block content %}
{% load static %}

  <div class="container-fluid navigation">
    <div class="topnav" id='myTopnav'>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    MENU
  </a>
      <a href="#home" class='active'>HOME</a>
      <a href="#news">UPCOMING SHOWS</a>
      <a href="#contact">CONTACT</a>
      <a href="#about">ABOUT</a>
      <div class='left-nav'>
        <a href='#' class='social'>@THATFATPENGUIN</a>
        </div>
    </div>
    </div>


    <div class='container logo-container'>
      <img class='logo' src='{% static "images/penguin.png" %}'>
      </div>

    <div class='container blurb-container'>
      <div class='row'>
        <br>
        <div class='col-md-12 col-sm-12 blurb'>
      <h1>
        Every Weds Night
      </h1>
      <h1>
        8:00 - 11:00
      </h1>
      <h1>
        Pat Kavanagh
      </h1>
      </div>
      </div>
      <div class='row'>
        <div class='col-md-12 address col-sm-12'>
          <br>
          142 Trafalgar Rd <span>&#9679;</span>
          Birmingham <span>&#9679;</span>
          B13 8BX
        </div>
    </div>
      </div>


<ul class="cb-slideshow">
	<li>
		<span>Image 01</span>
	</li>
  <li>
		<span>Image 02</span>
    <!--<div>
			<h3>Live Comedy</h3>
		</div>-->
	</li>
  <li>
    <span>Image 03</span>
  </li>
  <li>
    <span>Image 04</span>
  </li>
</ul>


{% endblock %}
