{% extends 'base.html' %}
{% block content %}
{% load static %}

  <div class="container">
    <div class="topnav" id='myTopnav'>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    MENU
  </a>
  <a href='#'><strong>@THATFATPENGUIN</strong></a>
      <a href="#home">HOME</a>
      <a href="#news">UPCOMING SHOWS</a>
      <a href="#contact">CONTACT</a>
      <a href="#about">ABOUT</a>
    </div>
    </div>

    <div class='container-fluid logo-container'>
      <img class='logo' src='{% static "images/penguin.png" %}'>
      </div>

<ul class="cb-slideshow">
	<li>
		<span>Image 01</span>
		<!--text could go here<div>
			<h3>Live Comedy</h3>
		</div>-->
	</li>
  <li>
		<span>Image 02</span>
    <!--text could go here<div>
			<h3>Live Comedy</h3>
		</div>-->
	</li>
  <li>
    <span>Image 03</span>
    <!--text could go here<div>
			<h3>Live Comedy</h3>
		</div>-->
  </li>
  <li>
    <span>Image 04</span>
    <!--text could go here<div>
			<h3>Live Comedy</h3>
		</div>-->
  </li>
</ul>


{% endblock %}
